.gitignore
/data/
myenv/
.env
.idea/
.DS_Store
wandb/
*.egg-info
*/results/proximal.DS_Store
.python-version
__pycache__/
*.pyc
.vscode
experiments/predict/*
experiments/model/*
media/*
*.png
*.gif
*.pdf
experiments/tuning/
